{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico'%}"/>
    <title>{% block title %}Chatbot{% endblock title %}</title>
    <style>

    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="user-info">
                {% if user.is_authenticated %}
                    <span>{{ user.username }}님</span>
                    <a href="{% url 'account:user_information' %}">회원 정보</a>
                    <a href="{% url 'account:logout' %}" class="nav-link">로그아웃</a>
                {% else %}
                    <a href="{% url 'account:login' %}" class="btn btn-login">로그인</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="chat-layout">
        <div class="sidebar">
            <div class="button-container">
                <a href="/chatbot/basic_chatbot/" class="bot-card">
                    <img src="{% static 'img/romance_user.png' %}" alt="기본 챗봇" class="bot-image">
                    기본
                </a>
            </div>
            
            <div class="button-container">
                {% if user.is_authenticated %}
                <a href="/chatbot/romance_chatbot/" class="bot-card">
                    <img src="{% static 'img/romance/ai_profile.png' %}" alt="로맨스 챗봇" class="bot-image">
                    로맨스
                </a>
                {% else %}
                <span class="bot-card" onclick="alert('더 많은 모델을 만나고 싶으시면 로그인을 해주세요.')">
                    <img src="{% static 'img/romance/ai_profile.png' %}" alt="로맨스 챗봇" class="bot-image">
                    로맨스
                </span>
                {% endif %}
            </div>
            <div class="button-container">
                {% if user.is_authenticated %}
                <a href="/chatbot/rofan_chatbot/" class="bot-card">
                    <img src="{% static 'img/rofan/ai_profile.png' %}" alt="로판 챗봇" class="bot-image">
                    로판
                </a>
                {% else %}
                <span class="bot-card" onclick="alert('더 많은 모델을 만나고 싶으시면 로그인을 해주세요.')">
                    <img src="{% static 'img/rofan/ai_profile.png' %}" alt="로판 챗봇" class="bot-image">
                    로판
                </span>
                {% endif %}
            </div>
            <div class="button-container">
                {% if user.is_authenticated %}
                <a href="/chatbot/fantasy_chatbot/" class="bot-card">
                    <img src="{% static 'img/fantasy/elf_profile.png' %}" alt="판타지 챗봇" class="bot-image">
                    판타지
                </a>
                {% else %}
                <span class="bot-card" onclick="alert('더 많은 모델을 만나고 싶으시면 로그인을 해주세요.')">
                    <img src="{% static 'img/fantasy/elf_profile.png' %}" alt="판타지 챗봇" class="bot-image">
                    판타지
                </span>
                {% endif %}
            </div>
            <div class="button-container">
                {% if user.is_authenticated %}
                <a href="/chatbot/historical_chatbot/" class="bot-card">
                    <img src="{% static 'img/historical/historical_ai.jpg' %}" alt="무협 챗봇" class="bot-image">
                    무협
                </a>
                {% else %}
                <span class="bot-card" onclick="alert('더 많은 모델을 만나고 싶으시면 로그인을 해주세요.')">
                    <img src="{% static 'img/historical/historical_ai.jpg' %}" alt="무협 챗봇" class="bot-image">
                    무협
                </span>
                {% endif %}
            </div>
            
        </div>

        <div class="main">
            {% if user.is_authenticated %}
            <section class="recommendation-section">
                <div class="carousel-container" id="carouselContainer">   
                    <button class="carousel-btn prev-btn">&lt;</button>
                    <div class="carousel">
                        {% for work in recommendations %}
                            <a class="no-style-link" href="{{work.url}}" target="_blank" rel="noopener noreferrer">
                                <img src="{{ work.thumbnail }}" alt="{{ work.title }}">
                                <div>{{ work.title }}</div>
                            </a>
                        {% empty %}
                            <p>최근 추천된 작품이 없습니다.</p>
                        {% endfor %}
                    </div>
                    <button class="carousel-btn next-btn">&gt;</button> 
                </div>
            </section>
                <div id="toggleCarouselBtn" class="toggle-btn">▽</div>
            {% else %}
                <div id="toggleCarouselBtn" class="toggle-btn" onclick="alert('로그인을 해주세용')">▽</div>
            {% endif %}
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/framework.js' %}"></script>
</body>
</html>
