html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 40px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.username {
    transition: all 0.3s ease;
}

.username:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 70px;
    display: block;
}

.auth-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px; 
}

.model-selection {
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.model-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    margin: 20px;
    border: 1px solid #7350F2; /* 테두리 추가 */
    box-shadow: 0 0 5px #7350F2; /* 부드러운 그림자 효과 */
}

.model-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.model-item:hover {
    transform: scale(1.2);
}

.model-item:hover::after {
    content: attr(data-name);
    position: absolute;
    bottom: -20px;
    background: white;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.main { /* 채팅창 영역 */
    position: relative;
    top: -3px;
    left: 220px; /* 왼쪽으로 이동시키면서 크기 조정 */
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.main::-webkit-scrollbar {
    display: none;
}
.container {
    position: relative;
    width: 100%;
    padding: 2px 2px 2px 2px;
}
.recommendation-section {
    flex-grow: 1;
    width: 80%;
    max-width: 1400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.recommendation-section.collapsed {
    height: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1380px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.carousel {
    position: relative;
    left: 55px;
    flex-direction: row;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel img {
    width: 150px;
    height: 220x;
    border-radius: 5px;
    margin-right: 20px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.carousel img:hover {
    transform: scale(1.05);
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 100;
}
.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.prev-btn {
    left: 0;
}
.next-btn {
    right: 0;
}
.toggle-btn {
    position: relative;
    left: 35%;
    bottom: -1px;
    cursor: pointer;
    height: 1px;
    width: 30px;
    font-size: 30px;
    line-height: 12px;
    z-index: 100;
}
.no-style-link {
    color: black;
    text-decoration: none;
    text-align: center;
}
.no-style-link div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}